@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/** 공통 */
* { box-sizing:border-box;  font-family: 'Nanum Gothic', sans-serif;  color: #000000; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol, dl { margin: 0; padding: 0; }

.layout_width { max-width: 1100px; margin: 0 auto;  padding: 0 10px; }

/** 헤더 영역 */
header .top_menu { background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; padding: 10px; }
header .top_menu > div { text-align: right; }
header .top_menu > div a { font-size: 1.1rem; margin-right: 10px;  }
header .top_menu > div a:hover { text-decoration: underline; }
header .logo { font-size: 2.5rem; font-weight: bold; text-align: center; padding: 30px 10px; }

/** 푸터 영역 */
footer { text-align: center; background-color: #f8f8f8; padding: 20px 10px; border-top: 1px solid #d5d5d5;  }

/** 본문 영역 */
main { min-height: 600px; }

/** 메뉴 영역 */
nav { background-color: #212121; }
nav > div { display: flex; }
nav > div a { padding: 15px 20px;  color: #ffffff;  font-size: 1.3rem; }


/**달력 영역*/
* { box-sizing: border-box; }
ul { list-style: none; padding:0; margin: 0; }
ul li { display: block; padding: 0; margin: 0; }
.calendar_tab { text-align: center; margin: 30px 0; }
#calendar { max-width: 700px; margin: 10px auto; }
#calendar  ul { display: flex; flex-wrap: wrap; }
#calendar  ul li { width: calc(100% / 7); padding: 10px; }
#attendance{ display:block; margin: auto;}