<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
		
		<main layout:fragment="content">
			<div class='board-view' th:object="${boardData}">
				<div th:text="*{subject}"></div>
				<div class='post_info'>
					<span th:text="*{poster}"></span>
					<th:block th:if="${boardData.member != null }" >
						(<span th:text="${boardData.member.memId}"></span>)
					</th:block>
					/ 
					<span th:text="${#temporals.format(boardData.regDt, 'yyyy.MM.dd HH:mm')}"></span>
				</div>
				
				<th:block th:if="${boardData.attachedFiles != null}">
					<ul class='downloads'>
						<li th:each="file, status : ${boardData.attachedFiles}">
							다운로드 <i th:text="${status.count}"></i> : <a th:href="@{/file/download/{id}(id=${file.id})}" th:text="${file.fileName}"></a>
						</li>
					</ul>
				</th:block>
				
				<div class='content' th:utext="*{content}"></div>
				<div class='controls'>
					<a th:href="@{/board/update/{id}(id=${boardData.id})}">수정</a>
					<a th:href="@{/board/delete/{id}(id=${boardData.id})}" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
					<a th:href="@{/board/list/{boardId}(boardId=${boardData.board.id})}">목록</a>
				</div>
			</div>
		</main>
</html>